.txbox {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  display: flex;
  cursor: pointer;
}

.txdate {
  margin-left: 16px;
}

.txtype {
  width: 10%;
  float: left;
}

.txaddressamount {
  width: 90%;
  float: left;
}

.txaddress {
  width: 80%;
  float: left;
}

.txamount {
  width: 20%;
  float: right;
}

.txmemo {
  word-break: break-all;
}

.txmodal {
  top: 12.5%;
  left: 12.5%;
  right: auto;
  opacity: 1;
  transform: translate(0%, -5%);
  background: #011401;
  position: absolute;
  padding: 16px;
  min-width: 800px;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  border: #18bd18 4px solid;
}

.txmodalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.5);
}

.containermargin {
  margin: 16px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
