.sidebar {
  background-color: #040C17;
  height: calc(100vh - 190px);
}

.sidebarmenuitem {
  height: 40px;
  padding: 10px;
  margin-left: 16px;
  font-size: 20px;
}

.sidebarmenuitemactive {
  color: #43a637;
}

.sidebarlogobg {
  background: #06172d; 
  margin-bottom: 8px; 
  padding: 8px; 
}

.exportedPrivKeys {
  width: 100%;
  max-height: calc(100vh - 400px);
}
