.addressbalancecontainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 11px;
}

.containermargin {
  margin: 16px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.horizontalcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px; 
}

.detailcontainer {
  width: 100%;
  flex-direction: column;
  margin-top: 3%;
  justify-content: flex-start;
  align-items: center;
}

.detaillines {
  border: 1px solid grey;
  padding: 16px;
}

